.employeeManagement {
  height: 100%;
}

.employeeManagement .employeeManagement_heading {
}

.employeeManagement .employeeManagement_list {
}

.employeeManagement .employeeManagement_list .employeeManagement_list_item {
}

.employeeManagement
  .employeeManagement_list
  .employeeManagement_list_item
  .employeeManagement_list_item_info {
  background-color: rgb(54, 54, 56);
}

.employeeManagement
  .employeeManagement_list
  .employeeManagement_list_item
  .employeeManagement_list_item_title
  .employeeManagement_list_item_title_other {
  width: 36px;
  height: 36px;
  line-height: 24px;
  border-radius: 50%;
}

.employeeManagement
  .employeeManagement_list
  .employeeManagement_list_item
  .employeeManagement_list_item_title
  .employeeManagement_list_item_title_avt
  .employeeManagement_list_item_title_avt_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.employeeManagement
  .employeeManagement_list
  .employeeManagement_list_item
  .employeeManagement_list_item_title
  .employeeManagement_list_item_title_avt
  .employeeManagement_list_item_title_avt_img[type="ON"] {
  padding: 4px; /* độ dày viền */
  background: linear-gradient(
    135deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    purple
  );
  border-radius: 50%;
  display: inline-block;
}

.employeeManagement
  .employeeManagement_list
  .employeeManagement_list_item
  .employeeManagement_list_item_title
  .employeeManagement_list_item_title_avt
  .employeeManagement_list_item_title_avt_img[type="OFF"] {
  border: 2px solid red;
}

.employeeManagement
  .employeeManagement_list
  .employeeManagement_list_item
  .employeeManagement_list_item_title
  .employeeManagement_list_item_title_other:hover {
  background-color: rgb(60, 60, 61);
}

/* Update Delete Employee */
.image-tag .v-input__details {
  display: none;
}

/* Schedule table */
.scheduleTable .selected-day {
  background-color: rgba(var(--v-theme-primary), 0.6);
}
.scheduleTable .change-shift-with-before {
  background-color: rgba(246, 236, 20, 0.7);
}

.scheduleTable .scheduleTable_item {
  width: 100px;
}
.scheduleTable .cursor-pointer.scheduleTable_item:hover {
  background-color: #333232;
}
.scheduleTable .disable-day {
  opacity: 0.3;
}
